<div class="product-newsletter-section">
    <!-- TODO: welche form genau: s. https://www.shopify.com/partners/blog/build-forms-on-shopify -->
    <!-- email soll wenn möglich irgendwo gespeichert werden... am besten 3rd party app übergeben werden zB clickfunnels -->
    <!-- // kann mit blocks und presets bestimmer ob man jeweilige section auf eine page anzeigen lassen will -->
    <!-- == unterschied zwischen static und dynamic -->
    <!-- also blocks nur verwenden um merchant möglichkeit zu geben, ob man section auf page integriert haben will -->
    <div class="newsletter-content">
        <h3 class="newsletter-heading"> {{ section.settings.newsletter-headline }} </h3>

    <!-- TODO: block values werden noch nicht richtig angezeit -->
        {% for block in section.blocks %}
        
            {% if block.settings.newsletter-subtitle != blank %}
                <h4 class="newsletter-subtitle"> {{ block.settings.newsletter-subtitle }}</h4>
            {% endif %}

            {% if block.settings.newsletter-additional-text != blank %}
                <p class="newsletter-additional-text"> {{ block.settings.newsletter-additional-text }}</p>
            {% endif %}

        {% endfor %}
        <!--TODO:  keine form sondern mit ajax call zu bestimmte 3rd party app statt form?!  -->
        <!-- TODO: name="contact[...]" fehlt für input eelements, ENDPOINT BZW ation fehlt auch -->


        <!-- <form class="newsletter-email-form">
            <input type="email" placeholder="Your email" name="email" required>
            <input type="submit" value="SUBSCRIBE">

            <div class="email-permission-container">
                <input type="checkbox" id="email-subscription-permission" required>
                <label for="email-subscription-permission">
                    <p>{{ section.settings.newsletter-permission-text }}</p>
                </label>
            </div>
        </form> -->


        <!-- TODO: s. placeholder und subscribe values nicht hardcoden, sondern via 'general.newsletter_form.email_placeholder' | t  -> externe sprach/locales datei -->
        {% assign formId ="Contract_" | append: section.id %}
        {% form "customer", class: "newsletter-form" %}
            {% if form.posted_successfully? %}
                <!-- wird ausgeführt, wenn user erfolgreich capture submitted hat (s. url-querystring): ?customer_posted=true -->
                <p class="form-message form-message--success" tabindex="-1" data-form-status>
                    <!-- TODO: content ändern bzw.: hat unser template zugriff auf general.newsletter_form.confirmation  ?  -->
                    <!-- 'general.newsletter_form.confirmation' | t -->
                    Thanks for subscribing to our newsletter
                </p>
            {% else %}
                <!-- form contains errors: form validators triggered -->
                <!-- TODO: forms post vs get method -->
                <!-- https://www.youtube.com/watch?v=fNcJuPIZ2WE -->

            {% endif %}
            <input type="hidden" name="contact[tags]" value="newsletter">
            <div class="input-group {% if form.errors %} input-group--error  {% endif %}">
                <!-- TODO: unterschied zwischen contact-form und email-form??? -->
                <input type="email"
                    name="contact[email]"
                    id="{{ formId }}-email"
                    class="input-group__field{% if form.errors %} input--error{% endif %}"
                    value="{{ form.email }}"
                    placeholder="Your Email here"
                    aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    {% if form.errors %}
                        aria-invalid="true"
                        aria-describedby="{{ formId }}-email-error"
                        data-form-status
                    {% endif %}
                >
                <input type="submit" value="SUBSCRIBE">
            </div>

            <div class="input-group email-permission-group">
                <input type="checkbox" id="email-subscription-permission" required>
                <label for="email-subscription-permission">
                    <p>{{ section.settings.newsletter-permission-text }}</p>
                </label>
            </div>
            
            <!-- {%- if form.errors contains 'email' -%}
                <span id="{{ formId }}-email-error" class="input-error-message">
                <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                {% include 'icon-error' %}
                <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                </span>
            {%- endif -%} -->

        {% endform %} 

    </div>
</div>






<!-- TODO: merchant die möglichkeit im customizer bieten, zu bestimmen für welches produkt der newsletter angehängt werden soll/kann -->
<!-- s. settings == non-optional, blocks == optional  -->
{% schema %}
    {
        "name": "Newsletter Section", 
        "settings": [
            {
                "type": "text",
                "id": "newsletter-headline",
                "label": "Headline for the newsletter"
            },
            {
                "type": "richtext",
                "id": "newsletter-permission-text",
                "label": "Permission-Description for the Customer-Email-Subscription"
            }
        ],
        "blocks": [
            {
                "name": "Additional Informations",
                "type": "additional-information",
                "settings": [
                    {
                        "type": "richtext",
                        "id": "newsletter-subtitle",
                        "label": "Additional Subtitle (optional)"
                    },
                    {
                        "type": "text",
                        "id": "newsletter-additional-text",
                        "label": "Additional Text Information (optional)"
                    }
                ]
            }
            

        ],
        "presets": [
            {
                "name": "Email-Newsletter",
                "category": "Email"
            }
        ]
    }


{% endschema %}